<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>About</h2>
        <hr />
        <p>
          Discover the untamed beauty of East Africa from the comfort of your screen with <a href="https://tv.kenyasafarishub.com">TV.KenyaSafariHub.com</a> – the dedicated video arm of <a href="https://kenyasafarishub.com">KenyaSafariHub.com</a>, 
          East Africa's premier safari marketplace. Immerse yourself in stunning high-definition footage that brings the thrill of wildlife adventures to life, featuring exclusive virtual tours of iconic destinations like the Maasai Mara, Amboseli National Park, and Tanzania's Ngorongoro Crater
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>

